<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  rel="stylesheet"
/>
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<div class="view">
  <input class="input-field"
  type="text"
  class="form-control"
  placeholder="Search..."
  [(ngModel)]="find"
/>
  <table >
    <thead>
        <tr>
          <th class="tbHeader">Author</th>
          <!-- <th>Date</th> -->
          <th class="tbHeader1">Joke Detail</th>
          <th colspan="2"class="tbHeader2">Action</th>
        </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let joke of jokeList
      | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                } | filter: find;
          let i = index 
        "
        >
        <!-- <a routerLink="/profile/{{ joke.author }}"></a> -->
        <td><a routerLink="/profile/{{ joke.id }}">{{joke.author}}</a></td>
        <!-- <td>{{ joke.date }}</td> -->
        <td>{{ joke.joke }}</td>
        <td class="td-icon" ng-repeat="item in collection track by joke.$index">
          <button class="like-button" [ngClass]="{'liked':isLiked}" (click)="likeTheButton()">
            <i class="fa fa-thumbs-up" aria-hidden="true" ></i> | <span class="like-counter">{{ likeCount }}</span>
          </button>
        </td>
        <!-- <td class="td-icon"><a style="color: dodgerblue" routerLink="/profile"><i class="fa fa-thumbs-up" aria-hidden="true" ></i></a></td>
        <td class="td-icon"><a style="color: dodgerblue" routerLink="/profile"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a></td> -->
       </tr>
      
    </tbody>
  </table>
  <div class="page"> 
    <pagination-controls 
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
  

   <!-- <table>
    <thead>
        <tr>
          <th width="12%" ></th>
          <th width="88%" ></th>
          
        </tr>
    </thead>
    <tbody *ngFor="let joke of jokeList" class="next">
      <tr>
        <td >Author: 
        <td ><strong><a routerLink="/profile">{{ joke.author }}</a></strong></td>
      </tr>
      <tr>
        <td >Date Posted:</td>
        <td > <label>{{ joke.date }}</label> </td>
      </tr>
        <tr>
          <td>Post</td>
        <td>{{ joke.joke }}</td>
      </tr>
      <tr>
        <td></td>
        
        <td> <i id="margin" class="fa fa-thumbs-up" aria-hidden="true"></i>    <i class="fa fa-thumbs-down" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="next"></td>
        
      </tr>
       
    </tbody>
  </table> -->
  
</div>
