<!-- <p>login works!</p> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://kit.fontawesome.com/3d2bd18eb6.js" crossorigin="anonymous"></script> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- <script src="https://kit.fontawesome.com/3d2bd18eb6.js" crossorigin="anonymous"></script> -->
    <title>Login</title>
  </head>
  <body>

    <div class="container">
      <label>Sign In</label>
      <!-- (ngSubmit)="login()" -->
      <!-- <div id="success" *ngIf="alert" class="alert alert-success" role="alert">
        <strong>Incorrect Username or Password.</strong> -->
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <!-- (ngSubmit)="loginSubmit(loginForm.value)" -->
        <div *ngIf="errorMessage">
          <strong class="h3 text-danger">{{errorMessage}} </strong>
        </div>
        
      <!-- </div> -->
      <form class="form" [formGroup]="loginForm">
        <div class="input-container input-icons">
          <div class="icon">
            <i class="fa-solid fa-user"></i>
          </div>
          
          <input
            class="input-field"
            formControlName="username"
            type="text"
            placeholder="Username"
            required
          />
          
        </div>
        
        <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
          <div class="small" *ngIf="f['username'].errors && f['username'].errors['required']"><small>Username is required.</small></div>
        </div>

        <div class="input-container input-icons">
          <i class="fa fa-lock"></i>
          <input
            class="input-field"
            formControlName="password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
          <div class="small" *ngIf="f['password'].errors && f['password'].errors['required']"><small>Password is required.</small></div>
        </div>
        <div>
          <button (click)="loginSubmit(loginForm.value)" [disabled]="loginForm.invalid" type="submit" class="btn" >SIGN IN</button>
        </div>

        <div class="link">
          <a routerLink="/account-creation">Create an Account</a>
        </div>
      </form>

    </div>
    
    <!-- <div class="btn-text-right">
  <button class="btn btn-primary">SIGN IN</button>
</div>   -->
  </body>
</html>
