h1 {
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 13px;
  border-style: solid;
  height: 20px;
  text-indent: 6px;
  font-family: "system-ui";
  font-size: 0.9rem;
  letter-spacing: 2px;
  padding-left: 35px;
  //margin-top: 10px;
  //margin-bottom: 10px;

  // width: 100%;
  //   border-radius: 6px;
  //   border-style: solid;
  //   border-width: 1px;
  //   padding: 5px 0px;
  //   text-indent: 6px;
  //   margin-top: 10px;
  //   margin-bottom: 20px;
  //   font-family: 'system-ui';
  //   font-size: 0.9rem;
  //   letter-spacing: 2px;
  //   height: 20px;
}

.input-field:focus {
  border: 2px solid black;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 15px;
  font-family: "system-ui";
}

.btn:hover {
  opacity: 1;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  
}

.container {
  
  margin: auto;
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  border-radius: 20px;
  //height: 300px;
  width: 350px;
  height:fit-content;
  
  

}

.btn-text-right {
  text-align: right;
  font-family: "system-ui";
}

.text-left {
  text-align: left;
  margin-right: 80px;
  font-family: "system-ui";
}

.link {
  font-family: "system-ui";
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
}

body {
  
  background-image: linear-gradient(#e6dada, #274046, #e6dada);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: auto;


  // padding: 300px;
  // height: -96vh;
  
}

// html {
//   height: 100%;
// }

.input-icons i {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
 

}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
 
}

label{
  font-family: "system-ui";
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 30px;
  margin-top: -40px;
}

a{
  text-decoration: none;
  color:dodgerblue;
}

.small{
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: red;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#success{
  background-color: aquamarine;
  margin: auto;
  width: 217px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
  font-family: "system-ui";
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  position: relative;
    
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
    position: absolute;   
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;     
  }
}
    


.form{
  padding-top: 10px;
}