<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <br>
      <div>
        <label>Title</label>
      </div>
     <br>
      <a routerLinkActive="active" routerLink="/login">Feed</a>
      <a routerLinkActive="" routerLink="/joke">Post</a>
      <a routerLinkActive="" routerLink="/login">Top Jokes</a>
      <div class="logout">
        <a routerLinkActive="active">Logout</a>
      </div>
    </div>
    
    <div class="content">
      
    </div>


    
    
  </body>
</html>

<!-- <p>dashboard works!</p> -->
