body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-top: -8px;
  margin-left: -8px;
  padding-left: 5px;
  padding-right: 5px;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  padding-left: 20px;
  text-decoration: none;
  border-radius: 5px;
  
}

.logout{
  display: block;
  // margin:auto;
  // padding-top: 345px;
}
 
.sidebar a.active {
  background-color: dodgerblue;
  color: white;
  
}

.sidebar a:hover:not(.active) {
  // background-color: #555;
  background-color: #bcbcbc;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}



// @media screen and (max-width: 400px) {
//   .sidebar a {
//     text-align: center;
//     float: none;
    
//   }

//   .sidebar {
//     width: 100%;
//     height: auto;
//     // position: relative;
  
//   }

//   div.content {
//     margin-left: 0;
//   }
// }

.menu{
  font-family: "system-ui";
  font-size: 0.9rem;
  
}

.user{
  font-family: "system-ui";
  font-size: 0.9rem;
  text-align: center;
}


.uname{
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

