<div class="sidebar">
  <br />
  <div>
  
    <label class="menu" *Ngfor="let item of username">{{item.username}}</label>
  </div>
  <br />
  <a class="menu" routerLinkActive="active" routerLink="/dashboard/joke-list">Feed</a>
  <a class="menu" routerLinkActive="active" routerLink="/dashboard/jokes">Post</a>
  <a class="menu" routerLinkActive="" routerLink="/">Top Jokes</a>
  <div class="logout">
    <a class="menu" routerLinkActive="active" (click)="logout">Logout</a>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
