<div class="sidebar">
  <br />
  <div class="user">
  
    <label>Hi, <label class="uname">{{username | uppercase }}</label></label>
  </div>
  <br />
  <a class="menu" routerLinkActive="active" routerLink="/dashboard/joke-list">Feed</a>
  <a class="menu" routerLinkActive="active" routerLink="/dashboard/jokes">Post</a>
  <a class="menu" routerLinkActive="active" routerLink="/dashboard/profile/{{username}}">Profile</a>
  <div class="logout">
    <a class="menu" href="/" (click)="logout()">Logout</a>
  </div>
  
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
