<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <form>
      <div>
        <input class="input-field" type="text" placeholder="Author">
      </div>
        
      <div>
        <input class="input-field" type="text" placeholder="Title">
        
      </div>
      <div>
        <label>
          Date: {{todayDate | date : 'yyyy-MM-dd'}}
          </label>
      </div>
      
      <div>
        <textarea id="w3review" name="w3review" rows="4" cols="45" placeholder="Details"></textarea>
      </div>
      
      <div>
        <button type="submit" class="btn">Create</button>
      
        <button type="submit" class="btn">Clear</button>
      </div>

    </form>
    
  </div>


</body>
</html>





<!-- <p>jokes works!</p> -->
