.container {
  
  margin: auto;
  
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 100px;
  // left: 0;
  right: 0;
  bottom: 50px;
  border-radius: 20px;
  //height: 300px;
   width: 450px;
  height:fit-content;
  font-family: "system-ui";
  font-size: 0.9rem;


}

// textarea{
//   resize: none;
//   height: 100px;
//   width: 100%;
//   text-indent: 6px;
//   font-family: "system-ui";
//   font-size: 0.9rem;
//   letter-spacing: 2px;
//   // outline: none;
//   border-radius: 13px;
//   border-style: solid;
// }

.input-field{
  width: 100%;
  padding: 10px;
 margin-top: 10px;
  border-radius: 13px;
  border-style: solid;
  height: 20px;
  text-indent: 6px;
  font-family: "system-ui";
  font-size: 0.9rem;
  letter-spacing: 2px;
  // padding-left: 35px;
}

.detail{
  resize: none;
  width: 100%;
  padding: 10px;
  border: 2px;
  border-color:grey;
  // outline: none;
  border-radius: 13px;
  border-style: solid;
  height: 150px;
  text-indent: 6px;
  font-family: "system-ui";
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  
}
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 15px;
  font-family: "system-ui";
}

.small{
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: red;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.input-field:focus {
  border: 2px solid black;
}

#success{
  background-color: aquamarine;
  margin: auto;
  width: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "system-ui";
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  position: relative;
    
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
    position: absolute;   
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;     
  }
}

// label{
//   font-family: "system-ui";
//   font-weight: bold;
//   font-size: x-large;
//   margin-bottom: 30px;
//   margin-top: -40px;
// }



@media screen and (max-width: 425px) {
  .container {
  position:relative;

  
  
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  
  

  }
}

label{
  font-weight: bold;
}

// @media screen and (min-width: 320px) {
//   .container {
//     position:relative;
//     margin: auto;
//     top: 0px;
//     right: 0;
//     bottom: 0;
   
//     width: 260px;
  
//     }
// }